.App {
  background-color: rgb(81,51,164) !important;
}

.container-fluid {
  background-color: rgb(81,51,164) !important;
  border-radius: 0, 15px, 15px, 0;
  padding: 0;
}
.navbar {
   background-color: rgb(81,51,164) !important;
   font-weight: bold;
   color: white;
   font-size: 25px !important;
   top: 0;
   /* width: 100vw; */
   position: fixed;
   z-index: 5;
}
#instructions {
  background: url("https://vignette.wikia.nocookie.net/spongebob/images/2/26/Bubbletown_002.png/revision/latest?cb=20181028171458");
  background-size: cover;
  height: 30em;
  width: 100%;
  text-align: center;
  color: white;
}

#instructiondiv {
  margin-top: 60px
}
#clickytext{
  padding: 30px;
}
#instrucitontext {
  padding: 60px;
}
.cards {
padding: 0;
}
.cardimg {
  height: 75%;
  width: 75%;
  text-align: center;
  padding: 0;
}
